.custom-geocoder-input{
    width: 100%;

    padding: 0.75rem; /* p-3 */
    border-radius: 0.5rem; /* rounded-lg */
    border: 1px solid #e5e7eb; /* border-gray-200 */
    transition: all 0.2s ease-in-out;
}
.custom-geocoder-input input{
    border-color: #3b82f6; /* blue-500 */
    outline: none;
    box-shadow: 0 0 0 2px #bfdbfe;
    transition: all 0.2s ease-in-out;

}
.custom-geocoder-input svg{
    display: none;
}
.custom-geocoder-input input:focus{
    border: 1px solid #4b5563; /* border-gray-700 */
    outline: 2px solid #3b82f6; /* focus:ring-2 focus:ring-blue-500 */}
